* { font-family: sans-serif }

html { font-size: 62.5%; }

body {
    background-image: url(../midias/hkrpg-background.png);
    background-repeat: repeat;
    font-size: 1.7rem;
    color: white;
    margin: 0
}

.website-logo {
    display: flex;
    justify-content: space-around;
    user-select: none;
    width: 300px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: auto;
    margin-right: auto
}

.logo-img {
    -webkit-user-drag: none;
    height: 86px;
    width: 86px
}

.logo-name {
    font-size: 24px;
    font-weight: bold
}

.bold { font-weight: bold }

.italic { font-style: italic }

.underlined { text-decoration: underline }

/* HEADER */

header {
    background-color: #c30000;
    height: 90px
}

/* NAVBAR */

nav {
    background-color: #c30000;
    position: sticky;
    top: -1px;
    height: 29px    
}

nav a {
    color: white;
    text-decoration: none;
    transition-duration: 500ms
}

nav a:hover {
    color: black;
    cursor: pointer;
    transition-duration: 500ms
}

#bigger-screens-links {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    user-select: none;
    margin: 0 15% 0 15%;
    padding-top: 5px
}

#smaller-screens-links { display: none }

#pages-modal {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: sticky;
    background-color: #c30000;
    border-top: 1px solid white;
    font-weight: bold;
    width: fit-content;
    top: 24px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto
}

#pages-modal a {
    color: white;
    text-decoration: none;
    padding: 2px 0 2px 0
}

/* MAIN */

main:not(#contact-main) {
    text-align: justify;
    color: black;
    background-color: white;
    margin: 70px 20% 70px 20%
}

#main-content { padding: 30px 20px 30px 20px }

#main-content h1 { text-align: center }

#main-content h2 { padding-top: 30px }

#main-content p { padding: 30px 0 30px }

/* FOOTER */

footer {
    position: relative;
    background-color: #c30000;
    height: 90px
}

#footer-content {
    display: flex;
    justify-content: space-between;
    user-select: none
}

#footer-content h1 {
    padding-top: 16px;
    margin: 0;
    height: 56px
}

#creator {
    position: absolute;
    margin: 0;
    right: 30px;
    bottom: 15px
}

@media (min-width: 320px) and (max-width: 599px) {

    /* NAVBAR */

    #bigger-screens-links { display: none }
    
    #smaller-screens-links {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        user-select: none;
        margin: 0 15% 0 15%;
        padding-top: 6px
    }
    
    /* MAIN */

    main:not(#contact-main) { margin: 100px 0 100px 0 }

    /* FOOTER */

    footer { height: 110px }

    #footer-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }

    #creator {
        position: inherit;
        text-align: center
    }

}

@media (min-width: 600px) and (max-width: 767px) {

    /* NAVBAR */

    #bigger-screens-links { display: none }

    #smaller-screens-links {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        user-select: none;
        margin: 0 15% 0 15%;
        padding-top: 6px
    }

    /* MAIN */

    main#main { margin: 85px 10% 85px 10% }

}

@media (min-width: 768px) and (max-width: 991px) {

    /* NAVBAR */

    #bigger-screens-links { margin: 0 1% 0 1% }

    /* MAIN */

    main#main { margin: 85px 10% 85px 10% }

}

@media (min-width: 992px) and (max-width: 1199px) {

    /* NAVBAR */

    #bigger-screens-links { margin: 0 10% 0 10% }

}